@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

.bookCard {
	background-color: #64d8f5a3;
	box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
	border-radius: 15px;
	overflow: hidden;
	padding: 1.25rem;
	position: relative;
	transition: .15s ease-in;
	
	&:hover, &:focus-within {
		box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(#000, .1);
			transform: translatey(-5px);
	}
}

.bookCard-image {
	border-radius: 10px;
	overflow: hidden;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bookCard-header {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between; 
		font-weight: 600;
		font-size: 18px;
		line-height: 1.25;
		padding-right: 1rem;
		text-decoration: none;
		color: black;
		padding-bottom: 1.23rem;	
		border-bottom: 1px solid #0c0342;
}

.icon-button {
	border: 0;
	background-color: #64d8f5a3;
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	font-size: 1.25rem;
	transition: .25s ease;
	box-shadow: 0 0 0 1px rgba(#000, .05), 0 3px 8px 0 rgba(#000, .15);
	z-index: 1;
	cursor: pointer;
	color: #565656;
	
	svg {
		width: 1em;
		height: 1em;
	}
	&:hover, &:focus {
		background-color: #EC4646;
		color: #FFF;
	}
}

.bookCard-footer {
	background-color: #06853299;
	margin-top: 1.25rem;
	padding: 0.7rem;
	display: flex;
	align-items: center;
	border-radius: 5px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600px;
}